@import "../../../../scss/colors.scss";
.table-categories-admin {
  .ant-space {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  @media (max-width: 768px) {
    .ant-space {
      flex-direction: column;
    }
  }

  .active-row {
    background-color: $dodger-blue-transparent;
  }

  .inactive-row {
    background-color: $danger-red-transparent;
  }
}
