$midnight-blue: #011627;
$light-gray: #e0e0e0;
$white-smoke: #fafafa;
$black: #000;
$white: #fff;
$danger: #ff4d4f;
$dodger-blue: #1677ff;
$dodger-blue-transparent: rgba(#1677ff, 0.1);
$lime: #00ff00;
$orange: #ffa500;

$primary-blue: #1890ff;
$success-green: #52c41a;
$warning-gold: #faad14;

$edit-blue: #2f54eb;
$update-cyan: #13c2c2;
$information-blue: #1890ff;

$error-red: #ff4d4f;
$danger-red: #ff4d4f;
$delete-red: #f5222d;
$danger-red-transparent: rgba(#ff4d4f, 0.1);

$icon-theme-light: #fadb14;
$icon-theme-black: #cccccc;
